[Desktop Entry]
Name=TTS-zen
Name[es]=TTS-zen
Comment=Text-to-speech server manager for Zen Browser
Comment[es]=Gestor de servidor texto-a-voz para Zen Browser
Exec=ruby /home/johao/Proyectos/TTS-zen/gui.rb
Icon=tts-zen
Terminal=false
Type=Application
Categories=Audio;Utility;
Keywords=tts;text-to-speech;voz;lectura;zen;browser;
StartupNotify=true
StartupWMClass=tts-zen
